body {
    height: 200px;
    background-image: url('images/grey.jpg');
    background-size: cover;
}

.sequencer {
    width: 800px;
    height: 480px;
    background: rgba(255,255,255,.5);
    position: absolute;
    left: -webkit-calc(50% - 400px);
    top: 100px;
}

.play {
    position: absolute;
    left: -webkit-calc(50% - 400px);
    top: 25px;
    background: green;
    width: 50px;
    height: 50px;
}

.pause {
    position: absolute;
    left: -webkit-calc(50% - 265px);
    top: 25px;
    background: blue;
    width: 50px;
    height: 50px;
}

.sequence {
    margin: 5px;
    background: rgba(255,255,255,.5);
    height: 24px;
}

.note {
    display: inline-block;
    margin: 2px;
    width: 20px;
    height: 20px;
    background: grey;
}

.note.on {
    display: inline-block;
    margin: 2px;
    width: 20px;
    height: 20px;
    background: yellow;
}

.note.playing {
    display: inline-block;
    margin: 2px;
    width: 20px;
    height: 20px;
    background: red;
}